<h1 class="title">Parties d'une dissertation</h1>
<ul id="introduction-list">
{% for introduction in introductions %}
    <li>
        <a href="{{ path('api_1_get_dissertation_introduction', {'id': introduction.dissertation.id, 'introductionId': introduction.id}) }}">{{ introduction.title }}</a>
        {#[<a href="{{ path('api_1_edit_introductions', {'id': introduction.id}) }}">{{ 'introduction.edit.link'|trans({}, 'n1c0DissertationBundle') }}</a>]#}
        {#[<a href="{{ path('api_1_remove_introductions', {'id': introduction.id}) }}">{{ 'introduction.remove.link'|trans({}, 'n1c0DissertationBundle') }}</a>]#}
    </li>
    <li>{{ 'introduction.list.empty'|trans({}, 'n1c0DissertationBundle') }}</li>
{% endfor %}
</ul>
